body {font-size:12px; font-family:malgun gothic, verdana, consolas;min-width:700px;}
.layer {position:relative; width:245px;background:#ffffff;border:1px solid #eaeaea;padding-bottom:0;}
.layer a {color:#a9a9a9; font-size:11px;}
.layer div{padding:7px 0 9px 0px;text-align:center; vertical-align:top;}
.layer div p { padding:0; margin:0; }
.layer div p em { font-style: normal; }
.layer .calendar-header {border-bottom:1px solid #eee; }
.layer .calendar-header .calendar-title {color:#888;}
.layer div .calendar-btn-prev-year{position:absolute;top:10px;left:5px;height:18px; white-space:nowrap; letter-spacing:-1px;}
.layer div .calendar-btn-prev-month{position:absolute;top:10px;left:45px;height:18px; white-space:nowrap; letter-spacing:-1px;}
.layer div .calendar-title{float:none !important;font-family:verdana;font-size:15px;color:#383838;font-weight: normal;}
.layer div .calendar-btn-next-month{position:absolute;top:10px;right:45px;height:18px; white-space:nowrap; letter-spacing:-1px;}
.layer div .calendar-btn-next-year{position:absolute;top:10px;right:5px;height:18px; white-space:nowrap; letter-spacing:-1px;}
.layer table{width:245px;margin:0 auto;text-align:center;}
.layer table *{font-family:tahoma !important;font-size:10px;}
.layer table thead th {padding:10px 0;color:#888; }
.layer table thead th.sun {color: #ff321b;}
.layer table thead th.sat {color: #2433ff;}
.layer table td{width:35px;height:25px;text-align:center;color:#888;}
.layer table td a{display:block;height:15px;padding-top:1px;color:#888;}
.layer table td a:hover{background:#edf4fe;color:#6d6d6d;text-decoration:none !important;font-family:tahoma !important;}
.layer table td a:visited,
.layer table td a:active{color:#000000;text-decoration:none !important;}
.layer table .calendar-body .selected{background:#edf4fe;color:#6d6d6d;}
.layer table .calendar-body .selected a{color:#6d6d6d;text-decoration:none;}
.layer table .calendar-sun{color:#e82828;}
.layer table .calendar-sun a,
.layer table .calendar-sun a:visited,
.layer table .calendar-sun a:hover,
.layer table .calendar-sun a:active{color:#e82828 !important;}
.layer table .calendar-today{background: #bcea81;color:#ffffff;}
.layer table .calendar-today a{font-weight:bold;text-decoration:none;color:#fff}
.layer table .calendar-today a:hover,
.layer table .calendar-today a:visited,
.layer table .calendar-today a:active{background:#6595db;color:#fff}
.layer .calendar-footer {background:none; border-top:1px solid #eee; }
.layer .calendar-footer .calendar-today {color:#6d6d6d}
.layer table .calendar-prev-month,
.layer table .calendar-next-month {color:#ccc;}
.layer table .calendar-prev-month .calendar-date,
.layer table .calendar-next-month .calendar-date {display:none}
.layer table .calendar-next-month.calendar-sat,
.layer table .calendar-prev-month.calendar-sat {color: #8bb3ff;}
.layer table .calendar-next-month.calendar-sun,
.layer table .calendar-prev-month.calendar-sun {color: #e3a08c;}
.layer table .calendar-sat {color:#0000FF;}
.layer table .calendar-sun span{background:none !important;color:#eca9a9 !important;}

/* 커서 포인터 모양 CSS */
.layer .selectable{background-color:#f9f2f4; cursor:pointer;}
/* 마우스 오버시 yellow 하이라이트 */
.layer .selectable:hover{background-color:yellow;}
/* 날짜 선택시 하이라이트 */
.layer .selectable.selected{font-weight:bold;background-color:#add8e6;}