<table class="tui-calendar-body-inner">
    <caption><span>Years</span></caption>
    <tbody>
        {{#each yearGroups as |group|}}
            <tr class="tui-calendar-year-group">
                {{#each group as |year|}}
                    <td class="tui-calendar-year" data-timestamp={{[../helpers/timestamp] year 0}}>
                        {{year}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
